body {
    text-align: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: myFirstFont, 'Segoe UI', Tahoma;
    /* font-weight: bold; */
    background-color: rgb(237, 224, 198);
    /* background-color: rgb(231, 162, 179); */
    /* background-color: rgb(97, 97, 97); */
}

.pop {
    background-color: rgb(236, 231, 222);
    background-color: rgb(175, 175, 174);
    padding: 20px;
    margin-top: -10px;
    /* border-radius: 10px; */
    display: inline-block;
    border: 2px solid black;
    /* box-shadow: 40px 50px 10px 1px; */
    border-bottom: 5px solid #7B7B7B;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #7B7B7B;
}
H1 {
    color: black;
    /* color: rgb(255, 196, 0); */
    /* -webkit-text-stroke: 1px  rgb(255, 196, 0); */
    -webkit-text-stroke: 0.2px rgb(48, 48, 48);
    font-weight: bolder;
    font-size: 40px;
    transition: 1s;
}
table {
    margin: auto;
    background-color: rgb(55, 55, 55);
    table-layout: auto;
    width: 350px;
    height: 350px;
}

.cell {
    font-size: 10px;
    background-color: rgb(179, 179, 179);
    width: 15px;
    height: 15px;
    text-align: center;
    border-bottom: 5px solid #7B7B7B;
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #7B7B7B;
    /* border-radius: 5px; */
}

.cell:active {
    font-size: 10px;
    background-color: gray;
    border: none;
}

.cell:after {
    font-size: 10px;
    background-color: gray;
    border: none;
}

.mine {
    background-color: rgb(255, 196, 0);
    border-bottom: 5px solid rgb(154, 121, 12);
    border-left: 5px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-right: 5px solid rgb(198, 156, 16);
}

.show {
    background-color: gray;
    border-bottom: 5px solid gray;
    border-left: 5px solid gray;
    border-top: 5px solid gray;
    border-right: 5px solid gray;
}

button {
    color: black;
    font-family: myFirstFont, 'Segoe UI', Tahoma;
    margin-top: 20px;
    /* border: none; */
    /* border-radius: 10px; */
    padding: 10px;
    background-color: rgb(179, 179, 179);
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #7B7B7B;
}

button:active {
    color: rgb(255, 196, 0);
    background-color: gray;
    border-left: 2px solid rgb(77, 77, 77);
    border-top: 2px solid rgb(77, 77, 77);
}

button:hover {
    cursor: pointer;
}

.smileyFace {
    margin-top: -10px;
}

.timer {
    width: 70px;
    height: 20px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
    background-color: rgb(20, 19, 19);
    padding: 10px;
    color: rgb(255, 196, 0);
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #7B7B7B;
}

.flagCount {
    width: 23px;
    margin-left: 10px;
    display: inline-block;
    background-color: rgb(20, 19, 19);
    padding: 10px;
    color: rgb(255, 196, 0);
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #7B7B7B;
}

.copyright {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-right: 85%;
    margin-bottom: -10px;
    margin-top: 10px;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/Retro-Gaming.ttf);
}
